*{
    margin: 0px;
}
/* this is the first section css */
.section-first-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightpink;
    height: 600px
}
.section-first-item{
    padding-left: 300px;
    font-size: 28px;
    display: fixed;
}
.section-first-description{
    font-size: 18px;
    color: rgba;
    padding-top: 7px;
    padding-bottom: 7px;
}
.section-first-image{
    height: 550px;
    padding-top: 53px;
    margin-right: 100px;
}
.section-first-button{
    height: 40px;
    width: 100px;
    padding: 10px;
    background-color: lightsalmon;
    border-radius: 7px;
    border: none;
}
/* this is the second section css */
.section-second-item{
    text-align: center;
    padding-top: 50px;
    font-size: 19px;
}
hr{
    margin: auto 780px;
    border-bottom: 1px solid black;
}
.section-second-image-one, .section-second-image-two,.section-second-image-three{
    height: 300px;
    margin-bottom: 10px;
    margin-top: 60px;
    border-top-right-radius: 150px;
    border-top-left-radius: 150px;
    width: 200px;
    margin-right: 10px;
    padding: 50px;
    display: fixed;
    border: 0px;
}
.section-second-image{
    text-align: center;
    margin-left: 50px;
    
}
.section-second-image-one{
    background-color: lightpink;
    padding-bottom: 0px;
}
.section-second-image-two{
    background-color: lightblue;
    padding-bottom: 2px;
}
.section-second-image-three{
    background-color: lightgreen;
    padding-bottom: 0px;
    
}
.section-second-description{
    margin-top: 15px;
}
/* this is the third section css */
.section-third-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    background-color: rgb(211, 192, 195);
    font-size: 25px;
    margin-bottom: 20px;
    width: 1922px;
    height: 480px;
}
.section-third-image-one{
    height: 350px;
}
.section-third-button{
    height: 40px;
    width: 100px;
    padding: 10px;
    background-color: lightsalmon;
    border-radius: 7px;
    border: none;
}
.section-thied-item, .section-third-description{
    text-align: center;
}
/* this is forth section css */
.section-forth-item{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 19px;
}
.section-forth-image-container{
    text-align: center;
}
.section-forth-image-one, .section-forth-image-two,.section-forth-image-three, .section-forth-image-four{
    padding: 10px;
}
/* this is the fifth section */
.section-fifth-container{
    background-image: url("./Flower\ Asset/rectangle 9.png");
    height: 700px;
    background-repeat: no-repeat;
    margin-left: 230px;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: -100px;
}
.section-fifth-item,.section-fifth-input{
    text-align: center;
    margin-right: 220px;
}
.section-fifth-item{
    padding-top: 180px;
}
.section-fifth-button{
    height: 40px;
    width: 100px;
    padding: 10px;
    background-color: lightsalmon;
    border-radius: 7px;
    border: none;
}
input{
    width: 500px;
    height: 40px;
    margin-top: 20px;
}
/* this is a footer container */
.footer-container{
    text-align: center;
    background-color: black;
    color: white;
    height: 500px;
    margin-top: 0px;

}
.footer-titel{
    padding-top: 200px;
}
.afoorer-description{
    margin: 10px auto;
    font-size: 30px;
}
.footer-end{
    font-size: 12px;
    padding-top: 40px;
}
.footer-titel{
    font-size: 70px;
}